body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.big-square {
  width: 500px;
  height: 500px;
  font-size: 28px;
  background-color: brown;
}

.middle-square {
  width: 300px;
  height: 300px;
  font-size: 20px;
  background-color: darkkhaki;
}

.little-square {
  width: 150px;
  height: 150px;
  font-size: 14px;
  background-color: darkturquoise;
}

.italic {
  font-style: italic;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  margin: 2rem;
  }

  .loader-animated {
    animation: spin 2s linear infinite;
    }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 100px;
      margin-bottom: 20px;
      border: 1px solid #000000;
    }